{% extends 'recap/base.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">
    <h1>About</h1>
    <p>ReCap is a collaborative tool that allows developers(and not only) to organise their projects into boards.
       Users can create an account and then add any number of projects, as well as add members to them. The user page
       provides and overview of projects the developer is currently engaged in and provides the possibility of adding
       new ones. The project page, designed to look like a board, contains the requirements, which are grouped based on
       the MoSCoW method (must have/should have/could have/would have). Also, each requirement has its own unique id and 
       a progress status. Users can assign these requirements to other project members, or themselves and make use of the 
       drag-and-drop functionality to move them to a different category.
    </p>
</div>

<div class="row-fluid">
    <div class="span6">

    </div>
    <!--/span-->
    <div class="span6">


    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}
