{% extends 'recap/base.html' %}
{% load static %}
{% block body_block %}

    <div class="developer-drop">
        <span class="project-list-header">
        <img src="/static/img/user-icon.png" width="32" height="49"> My projects.
        </span>

        <ul>
            <li>
                <h3>Project1</h3>
                <div>description 1.</div>
            </li>
            <li>
                <h3>Project 2</h3>
                <div>description 2</div>
            </li>
            <li>
                <h3>Project 3</h3>
                <div>Description 3.</div>
            </li>
            <li>
                <h3>Project 4</h3>
                <div>Description 4</div>
            </li>
        </ul>
    </div>



<!--/row-->
{% endblock %}