{% extends 'recap/base.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">
    <h1>Welcome to ReCap</h1>
</div>

<div class="container-fluid">
         <div class="page-content inset">
                <div class="row">
                    <div class="col-md-4">
                        <p class="well">Three Column Example</p>
                    </div>
                    <div class="col-md-4">
                        <p class="well">Three Column Example</p>
                    </div>
                    <div class="col-md-4">
                        <p class="well">You get the idea! Do whatever you want in the page content area!</p>
                    </div>
                </div>
</div>

<div class="row-fluid">
    <div class="span6">

    </div>
    <!--/span-->
    <div class="span6">


    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}
        
