{% extends 'recap/base.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">
    <h1>Welcome to ReCap</h1>
</div>

<div class="container-fluid">
         <div class="page-content insert">
                <div class="row">
                    <div class="span6">
                         <div class="span6"><img src="/static/img/capture.png" width="180" height="180" ></div>
                        <h3><center>Capture Requirements</center></h3>
                        <p><center>ReCap allows you to easily capture the requirements needed for your project</center></p>
                    </div>
                    <div class="span6">
                        <img src="/static/img/collaborate.png" width="160" height="160">
                        <h3><center>Collaborate</center></h3>
                        <p><center>Work with your team members or find other developers willing to work on a project</center></p>
                    </div>
                    <div class="span6">
                        <img src="/static/img/track.png" width="170" height="170">
                        <h3><center>Track Progress</center></h3>
                        <p><center>Prioritize requirements and track their progress throughout the development of your project</center></p>
                    </div>
                </div>
</div>

<div class="row-fluid">
    <div class="span6">

    </div>
    <!--/span-->
    <div class="span6">


    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}
        
