{% extends 'recap/base.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">
    <h1>Welcome to ReCap</h1>
</div>

<div class="container-fluid">
            ::before
            <div class="row">
                
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="/static/img/capture.png" width="180" height="180" >
                    <h3>Capture Requirements</h3>
                    <p>ReCap allows you to easily capture the requirements needed for your project</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="/static/img/collaborate.png" width="180" height="180">
                    <h3>Collaborate</h3>
                    <p>Work with your team members or find other developers willing to work on a project</p>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="/static/img/track.png" width="180" height="180">
                    <h3>Track Progress</h3>
                    <p>Prioritize requirements and track their progress throughout the development of your project</p>
                

                </div>
</div>

<div class="row-fluid">
    <div class="span6">

    </div>
    <!--/span-->
    <div class="span6">


    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}
        
