{% extends 'recap/base.html' %}

{% block body_block %}
<h1>{{project.name}}</h1>
<br />

<div id="content" class="row show-grid">
	<div class="span3">
		<h3>MUST</h3>
		<div class="category-column">

			<ul class="inner-container">
				{% for requirement in requirements_list %}
				<li class="requirement-container">
					<b>{{requirement.regid}}: </b>{{ requirement.name }}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="span3">
		<h3>WOULD</h3>
		<div class="category-column">
			<ul class="inner-container"></ul>
		</div>
	</div>
	<div class="span3">
		<h3>COULD</h3>
		<div class="category-column">
			<ul class="inner-container"></ul>
		</div>
	</div>
	<div class="span3">
		<h3>WON'T</h3>
		<div class="category-column">
			<ul class="inner-container"></ul>
		</div>
	</div>
</div>
{% endblock %}i