{% extends 'recap/base.html' %}

{% block body_block %}
{% csrf_token %}
<h1>{{project.name}}</h1>
<br />

<div id="content" class="row show-grid">
	{% for category in reqs_by_category %}
	<div class="span3">
		<h3 class="uppercase">{{ category.name }}</h3>
		<div class="category-column" data-category="{{category.name}}">
			<ul class="inner-container">
				{% for requirement in category.requirements %}
				<li class="requirement-container" data-category="{{requirement.category}}" data-id="{{requirement.regid}}">
					<b>{{requirement.regid}}: </b>{{ requirement.name }}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>


    <div class="panel">
        <ul>
            {% for p in participants %}
                <li>{{ p.username }}</li>
            {% endfor %}
            <li>
                <form class="searchform" action="" method="post">
                    {% csrf_token %}
	                <input id="searchfield" type="text" name="new_user" placeholder="add new" >
                    <input type="submit" style="visibility: hidden;"  />

                </form>
            </li>
        </ul>

    </div>
    <a class="trigger" href="#">Participants</a>


{% endblock %}i