{% extends 'recap/base.html' %}

{% block body_block %}
<h1>{{project.name}}</h1>
<br />

<div id="content" class="row show-grid">
	{% for category in reqs_by_category %}
	<div class="span3">
		<h3 class="uppercase">{{ category.name }}</h3>
		<div class="category-column">
			<ul class="inner-container">
				{% for requirement in category.requirements %}
				<li class="requirement-container" data-category="{{requirement.category}}">
					<b>{{requirement.regid}}: </b>{{ requirement.name }}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}i