body {
    background-color: silver;
    background-image:url('/static/img/mooning.png');
}

.category-column {
	background-color: #eeeeee;
	padding: 5px;
}

.requirement-container {
	background-color: #FCFCFC;
	min-height: 25px;
	padding: 3px;
	margin-top: 3px;
}

ul.inner-container {
	min-height: 100px;
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

li {
	display: block;
}

.project-list-header {
    font-size:14px


}

#projectbox {
    width: 300px;
    height: 75px;

    overflow: hidden;

    color: black;
    background: #B0B0B0 ;
    margin: 15px;
    padding: 10px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: #B3B3B3 4px 4px 4px;
    -moz-box-shadow: #B3B3B3 4px 4px 4px;
    box-shadow: #B3B3B3 4px 4px 4px

}

#projectbox:hover{
    background: #B8B8B8;
}

#create_new_prompt {
    display:none;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    min-width: 450px;
    min-height: 200px;
    padding: 25px;
    left: 550px;
    position: absolute;
    top: 984.5px;
    z-index: 9999;
    display: block;
    opacity: 1;
}

.button.b-close, .button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

.button {
    background-color: #2b91af;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

#create_new_button {
  background: #a3a3a3;
  background-image: -webkit-linear-gradient(top, #a3a3a3, #bdbdbd);
  background-image: -moz-linear-gradient(top, #a3a3a3, #bdbdbd);
  background-image: -ms-linear-gradient(top, #a3a3a3, #bdbdbd);
  background-image: -o-linear-gradient(top, #a3a3a3, #bdbdbd);
  background-image: linear-gradient(to bottom, #a3a3a3, #bdbdbd);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 32px;
  padding: 1px 5px 0px 5px;
  text-decoration: none;
}

#create_new_button:hover {
  background: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #757375);
  background-image: -moz-linear-gradient(top, #808080, #757375);
  background-image: -ms-linear-gradient(top, #808080, #757375);
  background-image: -o-linear-gradient(top, #808080, #757375);
  background-image: linear-gradient(to bottom, #808080, #757375);
  text-decoration: none;
}




/*Stuff for the slide in panel*/
a:focus {
outline: none;
}


.panel {
position: absolute;
top: 100px;
right: 0;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
width: 100px;
height: auto;
padding: 10px 10px 10px 10px;
filter: alpha(opacity=85);
opacity: .85;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}


a.trigger{
position: absolute;
text-decoration: none;
top: 50px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 10px 7px 10px 20px;
font-weight: 700;
background:#333333 15% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}

a.trigger:hover{
position: absolute;
text-decoration: none;
top: 50px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 10px 10px 10px 20px;
font-weight: 700;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}
